# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

Host *
    StrictHostKeyChecking no

Host heimdall loki
    User pi
    ForwardAgent yes
    StreamLocalBindUnlink yes
    RemoteForward /run/user/1000/gnupg/S.gpg-agent 127.0.0.1:4444

Host odin thor 
    User tobyv
    ForwardAgent yes
    StreamLocalBindUnlink yes
    RemoteForward /home/tobyv/.gnupg/S.gpg-agent 127.0.0.1:4444

Host aegir
    HostName 147.182.173.135
    User tobyv
    ForwardAgent yes
    StreamLocalBindUnlink yes
    RemoteForward /run/user/1000/gnupg/S.gpg-agent 127.0.0.1:4444

host bifrost
    User tobyv

Host siue
    User tovince
    HostName os.cs.siue.edu
    ForwardAgent yes
    StreamLocalBindUnlink yes
    RemoteForward /run/user/1400158178/gnupg/S.gpg-agent 127.0.0.1:4444
    RemoteCommand rm -f /run/user/1400158178/gnupg/S.gpg-agent && zsh -l
    RequestTTY force
