[Unit]
Description=RSS email synchronization timer

[Timer]
OnBootSec=2m
OnUnitActiveSec=15m
Unit=rss2email.service

[Install]
WantedBy=timers.target
