[Unit]
Description=Notify on new mail in MailDir %i

[Service]
Type=simple
ExecStart=%h/.local/bin/maildir-notify ${XDG_DATA_HOME}/mail/%i/INBOX
RestartSec=10
