[Unit]
Description=Notify on new mail in MailDir %i
PartOf=mbsync@%i.service

[Service]
Type=simple
ExecStart=%h/.local/bin/maildir-notify ${XDG_DATA_HOME}/mail/%i/INBOX
RestartSec=10

[Install]
WantedBy=mbsync@%i.service
