[Unit]
Description=Mailbox synchronization service
Documentation=man:mbsync(1)
Wants=network-online.target maildir-notify@%i.service
After=network-online.target network.target
Before=maildir-notify@%i.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/mbsync -Vc ${XDG_CONFIG_HOME}/mbsync/mbsyncrc %i

[Install]
WantedBy=default.target
