[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Vac ${XDG_CONFIG_HOME}/mbsync/mbsyncrc

[Install]
WantedBy=default.target
