[Desktop Entry]
Type=Application
Name=PrintCam
Comment=Web stream of 3D printer camera
Icon=mpv
Exec=printcam
Terminal=false
Categories=AudioVideo;Audio;Video;Player;TV;
