[Unit]
Description=A simple clipboard manager for Wayland
Documentation=man:clipman(1)
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --type text --watch clipman --notify store --no-persist --unix
Restart=on-failure

[Install]
WantedBy=sway-session.target
