[Unit]
Description=Session services which should run early before the sway session is brought up
Documentation=man:systemd.special(7)
Before=sway-session.target
BindsTo=wayland-session-pre.target
Before=wayland-session-pre.target
