[Unit]
Description=Screen locker for Wayland
OnSuccess=unlock.target
PartOf=lock.target
After=lock.target

[Service]
Type=forking
ExecStart=/usr/bin/swaylock -f
Restart=on-failure
RestartSec=0

[Install]
WantedBy=lock.target
