[Unit]
Description=rss status bar block
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
BusName=rs.i3status
ExecStart=%h/.local/bin/rss-status

[Install]
WantedBy=graphical-session.target
