[Unit]
Description=Current wayland user session
Documentation=man:systemd.special(7)
Requires=basic.target
RefuseManualStart=yes
StopWhenUnneeded=yes
BindsTo=graphical-session.target
