[Unit]
Description=Pause dunst service
PartOf=lock.target
Before=lock.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dunstctl set-paused true
ExecStop=/usr/bin/dunstctl set-paused false
RemainAfterExit=yes

[Install]
WantedBy=lock.target
