font = "DejaVu Sans"
# font = "Fira Code Nerd Font"

bg_color = 0x282828aa

[input_text]
font_color = 0xf8f8f2ff
bg_color = 0x75715eff

[list_items]
font_color = 0xebdbb2ff
selected_font_color = 0xfe8019ff
# match_color = 0xd65d0eff
# hide_actions = true

[icon]
size = 16
theme = "Adwaita"
fallback_icon_path = "/usr/share/icons/Adwaita/16x16/categories/applications-engineering-symbolic.symbolic.png"
