[Unit]
Description=Mailbox indexer service
Documentation=man:notmuch(1)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/notmuch new
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
