set folder=~/.local/share/mail/porkbun
set mbox_type=Maildir

set spoolfile=+INBOX
set record=+Sent
set postponed=+Drafts

set sendmail="/usr/bin/msmtp"

unmailboxes *
mailboxes +INBOX +Sent +Drafts +Junk +Trash +Archive
